ul.cssload-loader li  { background: #114577; box-shadow: 0px 19px 6px #ec6f32; -o-box-shadow: 0px 19px 6px #ec6f32; -ms-box-shadow: 0px 19px 6px #ec6f32; -webkit-box-shadow: 0px 19px 6px #ec6f32; -moz-box-shadow: 0px 19px 6px #ec6f32;}
.cssload-container  {	border-color: #114577;}
.acloader:before {
	background-color: #114577;}
