.ss-facet-name-A {
    color: #EE71A2;
}

.ss-facet-avatar-A {
    background: #EE71A2;
}

.ss-facet-name-B {
    color: #B1629F;
}

.ss-facet-avatar-B {
    background: #B1629F;
}

.ss-facet-name-C {
    color: #6F559D;
}

.ss-facet-avatar-C {
    background: #6F559D;
}

.ss-facet-name-D {
    color: #648DC7;
}

.ss-facet-avatar-D {
    background: #648DC7;
}

.ss-facet-name-E {
    color: #49BDEF;
}

.ss-facet-avatar-E {
    background: #49BDEF;
}

.ss-facet-name-F {
    color: #49BAB6;
}

.ss-facet-avatar-F {
    background: #49BAB6;
}

.ss-facet-name-G {
    color: #3EB677;
}

.ss-facet-avatar-G {
    background: #3EB677;
}

.ss-facet-name-H {
    color: #AED673;
}

.ss-facet-avatar-H {
    background: #AED673;
}

.ss-facet-name-I {
    color: #528412;
}

.ss-facet-avatar-I {
    background: #528412;
}

.ss-facet-name-J {
    color: #F5BA5C;
}

.ss-facet-avatar-J {
    background: #F5BA5C;
}

.ss-facet-name-K {
    color: #EB714D;
}

.ss-facet-avatar-K {
    background: #EB714D;
}

.ss-facet-name-L {
    color: #ED717A;
}

.ss-facet-avatar-L {
    background: #ED717A;
}

.ss-facet-name-M {
    color: #E62B86;
}

.ss-facet-avatar-M {
    background: #E62B86;
}

.ss-facet-name-N {
    color: #9C2C86;
}

.ss-facet-avatar-N {
    background: #9C2C86;
}

.ss-facet-name-O {
    color: #4A2885;
}

.ss-facet-avatar-O {
    background: #4A2885;
}

.ss-facet-name-P {
    color: #2D73B9;
}

.ss-facet-avatar-P {
    background: #2D73B9;
}

.ss-facet-name-Q {
    color: #00AEED;
}

.ss-facet-avatar-Q {
    background: #00AEED;
}

.ss-facet-name-R {
    color: #00A9A4;
}

.ss-facet-avatar-R {
    background: #00A9A4;
}

.ss-facet-name-S {
    color: #003F5B;
}

.ss-facet-avatar-S {
    background: #003F5B;
}

.ss-facet-name-T {
    color: #8DCB41;
}

.ss-facet-avatar-T {
    background: #8DCB41;
}

.ss-facet-name-U {
    color: #605F00;
}

.ss-facet-avatar-U {
    background: #605F00;
}

.ss-facet-name-V {
    color: #F1A629;
}

.ss-facet-avatar-V {
    background: #F1A629;
}

.ss-facet-name-W {
    color: #E3372E;
}

.ss-facet-avatar-W {
    background: #E3372E;
}

.ss-facet-name-X {
    color: #E5325E;
}

.ss-facet-avatar-X {
    background: #E5325E;
}

.ss-facet-name-Y {
    color: #AD005B;
}

.ss-facet-avatar-Y {
    background: #AD005B;
}

.ss-facet-name-Z {
    color: #6D005C;
}

.ss-facet-avatar-Z {
    background: #6D005C;
}

